
@{
    ViewBag.Title = "welcome";
}
@if (Session["Email_id"] != null)
{
    <h2 align="center">Welcome @Session["Email_id"].ToString()</h2>
    <tr>
        <td>
        <td><b>User Profile</b></td>
        <img src="@ViewBag.UserImage" width="250" height="200" alt="Alternate Text" />
        </td>
    </tr>
    <hr style="height:2px;border-width:0;color:rebeccapurple;background-color:rebeccapurple">

    <h3 align="center">User Registration Form</h3>

    <h4 align="center"> Detaile Is</h4>
    <tr>
        <td>
        <th>User Name : </th>

        @ViewData["uname"].ToString()
        </td>
        <br />
    </tr>

    <tr>
        <td>
        <th> Email_id : </th>

        @ViewData["Email_id"].ToString()
        </td>
        <br />
    </tr>
    <tr>
        <td>
        <th>Gender : </th>

        @ViewData["Gender"].ToString()

        </td>
        <br />
    </tr>





}

